<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>React Compile Sample</title>
    <link href="../../assets/scss/index.scss" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- <h1>React Compile Sample</h1>
    We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>. -->

    <div id="app"></div>
    <script src="../../assets/scripts/home.js"></script>
  </body>
</html>
